body{
  background-color: #535d66;
height:100vh; 
margin:0px;
}
.card{
  max-width:300px;
}

#rounded{
  border-radius: 0px 0px 350px 350px ;
  height:200px;
  margin:0px; 
  padding:0px; 
  background:  linear-gradient(180deg, #5B6064 0%, rgba(83, 71, 116, 0.9) 99.99%, rgba(148, 140, 140, 0) 100%);
border-color: linear-gradient(180deg, #5B6064 0%, rgba(83, 71, 116, 0.9) 99.99%, rgba(148, 140, 140, 0) 100%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a:hover{
font-size:17px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
  
.imgIcon{
  max-height: 50px;;
}

#myimage{
  max-height:200px;
  width: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}